article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font: 0.8em arial, helvetica, sans-serif; }

/*body {
        font: 0.8em arial, helvetica, sans-serif;
}*/

#ide_tabs_container ul {
        list-style: none;
        padding: 0;
        margin: 0;
}

#ide_tabs_container li {
        float: left;
        border: 1px solid #bbb;
        border-bottom-width: 0;
        margin: 0;
}

#ide_tabs_container a {
        text-decoration: none;
        display: block;
        background: #eee;
        padding: 0.24em 1em;
        color: #00c;
        width: 8em;
        text-align: center;
}
#ide_tabs_container a:hover {
        background: #ddf;
}

#ide_tabs_container .ide_selected {
        border-color: black;
}

#ide_tabs_container .ide_selected a {
        position: relative;
        top: 1px;
        background: #e8f0f3;
        color: black;
        font-weight: bold;
        z-index:10;
}

.ide_content {
        border: 1px solid black;
        clear: both;
        padding: 0 1em;
        height:600px;
        background-color: #e8f0f3;  
}

.ide_deactive{
  display:none;
}
.ide_active{
  display:block;
}

.ide_side{
  display: block;
  float:left;
  border: 1px solid #2e3641;
  height:95%;
  width:15em;
  margin: 10px 20px;
}

#ide_tmpl_left_main{
  list-style: none;
  margin: 0;
  padding:0;
  width:100%;
}

#ide_tmpl_left {
  background:#9caebc;
}
#ide_tmpl_main{
  padding:0px;
}
#ide_tmpl_main pre{
  width:100%;
  height:100%;
  margin:0;
}
.ide_code_area{
  display: block;
  float:left;
  border: 1px solid #2e3641;
  padding: 0 1em;
  height:95%;
  width: 75%;
  margin: 10px 20px;
  background:#fff;
}

.ide_css {
  list-style-image: url('../images/css.png');
  clear:both;
}
.ide_html {
  list-style-image: url('../images/html.png');
  clear:both;
}
.ide_js {
  list-style-image: url('../images/js.png');
  clear:both;
}
.ide_php {
  list-style-image: url('../images/php.png');
  clear:both;
}
.ide_gif, .ide_png, .ide_jpg{
  list-style-image: url('../images/image.png');
  clear:both;
}

fieldset{
  float: left;
  display:block;
  background-color: #9caebc;
  color:#fff;
  border:1px solid #2e3641;
  margin:25px;
}

fieldset legend{
  background-color: #9caebc;
  color:#fff;
  border:1px solid #2e3641;
  padding:5px;
}

fieldset section {
  margin:10px;
  display:block;
  float:left;
}
fieldset section label{
  width:200px;
  font-weight: bold;
}

input, select{
  padding:5px;
  width:300px;
}
.smallBox{
        width:350px;
}
.largeBox{
        width:650px;
}
.xlBox{
      width:1075px;  
}
.bold{
        font-weight: bold;
}

button{
        background: #f97e76;
        padding:10px;
        color: #fff;
        font-size:1.6em;
        border: 1px solid #fff;
}

.optionsGroup{
       float:right;
       margin:0;
       padding:0;
       position:relative;
       top:-35px;
}

.optionsGroup a{
        padding:0;
        margin:0;
        float:right;
}

.templateOptionsGroup{
       float:right;
       margin:0;
       padding:0;
       position:relative;
       /*top:-16px;*/
}

.templateOptionsGroup a{
        float:right;
        padding-right:5px;
}

.create_section{
    position:fixed;
    top:50px;
    right:0;
    border: 1px solid #000;
}